{{#each items}}
    <li class="search-content__item">
        <div class="search-content__item-photo">
            <img src="{{photo_50}}" alt="">
        </div>
        <div class="search-content__item-name">{{first_name}} {{last_name}}</div>
        <button class="search-content__item-btn search-content__item-btn--add" type="button"></button>
    </li>
{{/each}}