<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="shortcut icon" href="./src/images/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="homework-container">
    {{> "./friends-content.hbs"}}
</div>
</body>
</html>
