<div class="container-fluid">
    <img class="logo" src="./src/images/logo.png">
    <div class="modal">
        <div class="modal__content">
            <div class="modal__header">
                <div class="modal__title">Выберите друзей</div>
                <button type="button" class="modal__close">Закрыть</button>
            </div>
            <div class="modal__body">
                <div class="search">
                    <div class="search__item search__item--friend">
                        <input type="text" class="search__input search__input--friend" placeholder="Начните вводить имя друга">
                    </div>
                    <div class="search__item search__item--filter">
                        <input type="text" class="search__input search__input--filter" placeholder="Название">
                    </div>
                </div>
                <div class="search-content">
                    <div class="search-content__col">
                        <div class="search-content__title">Ваши друзья</div>
                        <ul class="search-content__list search-content__list--friend">
                            <li class="search-content__item">
                                <div class="search-content__item-photo">
                                    <img src="" alt="">
                                </div>
                                <div class="search-content__item-name">Artem Barabanov</div>
                                <button class="search-content__item-btn search-content__item-btn--add" type="button"></button>
                            </li> 
                            <li class="search-content__item">
                                <div class="search-content__item-photo">
                                    <img src="" alt="">
                                </div>
                                <div class="search-content__item-name">Artem Barabanov</div>
                                <button class="search-content__item-btn search-content__item-btn--add" type="button"></button>
                            </li> 
                            <li class="search-content__item">
                                <div class="search-content__item-photo">
                                    <img src="" alt="">
                                </div>
                                <div class="search-content__item-name">Artem Barabanov</div>
                                <button class="search-content__item-btn search-content__item-btn--add" type="button"></button>
                            </li> 
                            <li class="search-content__item">
                                <div class="search-content__item-photo">
                                    <img src="" alt="">
                                </div>
                                <div class="search-content__item-name">Artem Barabanov</div>
                                <button class="search-content__item-btn search-content__item-btn--add" type="button"></button>
                            </li> 
                            <li class="search-content__item">
                                <div class="search-content__item-photo">
                                    <img src="" alt="">
                                </div>
                                <div class="search-content__item-name">Artem Barabanov</div>
                                <button class="search-content__item-btn search-content__item-btn--add" type="button"></button>
                            </li> 
                            <li class="search-content__item">
                                <div class="search-content__item-photo">
                                    <img src="" alt="">
                                </div>
                                <div class="search-content__item-name">Artem Barabanov</div>
                                <button class="search-content__item-btn search-content__item-btn--add" type="button"></button>
                            </li> 
                            <li class="search-content__item">
                                <div class="search-content__item-photo">
                                    <img src="" alt="">
                                </div>
                                <div class="search-content__item-name">Artem Barabanov</div>
                                <button class="search-content__item-btn search-content__item-btn--add" type="button"></button>
                            </li> 

                        </ul>
                    </div>
                    <div class="search-content__col">
                        <div class="search-content__title">Друзья в списке</div>
                        <ul class="search-content__list search-content__list--filter">
                            <li class="search-content__item">
                                <div class="search-content__item-photo">
                                    <img src="" alt="">
                                </div>
                                <div class="search-content__item-name">Михаил Подольский</div>
                                <button class="search-content__item-btn search-content__item-btn--delete" type="button"></button>
                            </li>                            
                        </ul>
                    </div>

                </div>
                <div class="search-footer">
                    <button class="btn btn--save">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-handlebars-template" id="user-template">
{{#each items}}
    <li class="search-content__item">
        <div class="search-content__item-photo">
            <img src="{{photo_100}}" alt="">
        </div>
        <div class="search-content__item-name">{{first_name}} {{last_name}}</div>
        <button class="search-content__item-btn search-content__item-btn--add" type="button"></button>
    </li>
{{/each}}
</script>
<script src="http://vk.com/js/api/openapi.js"></script>